$color-blue-1: #357de5;
$color-blue-2: #c1d0f6;
$color-blue-3: #1250dc;

$color-white: #ffffff;

$color-gray-1: #4a4f63;
$color-gray-2: #c1c8d1;
$color-gray-3: #edf0f3;
$color-gray-4: #777e8d;

$color-red-1: #f04438;

$color-black: #000000;
